* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: Open Sans, Verdana, sans-serif;
}

.wrapper {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -18px;
}

.wrapper:after {
	content: "";
	display: block;
}

footer, .wrapper:after {
	height: 18px;
}

div#inputs {
	margin-bottom: 30px;
	text-align: center;
}

div#spacer {
	height: 10px;
}

input[type="text"] {
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	font-size: 20px;
}
input[type="text"]:focus,
input[type="text"].focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

div#suggestions {
	font-size: 12px;
	margin-top: 5px;
}

.centered {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

img#loader {
	margin-top: 55px;
}

div#error {
	margin-top: 40px;
	width: 300px;
	border: 1px solid;
	padding: 15px;
	color: #D8000C;
	background-color: #FFBABA;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border-radius: 5px;
	display: none;
}